# Godot 4+ specific ignores
/src/.godot/
/src/.idea/
/.idea/
/Solution1/
src/TemporalITTest/obj/Debug/net6.0/TemporalITTest.csproj.AssemblyReference.cache
src/TemporalITTest/obj/Debug/net6.0/TemporalITTest.csproj.AssemblyReference.cache
/src/TemporalIT.csproj.old/
/src/TemporalIT.csproj/
/src/JMJ's Room/Room/SaverManagement/
