# Godot 4+ specific ignores
/src/.godot/
/src/.idea/
/.idea/
/Solution1/
/src/TemporalIT.csproj.old/
/src/TemporalIT.csproj/
/src/JMJ's Room/Room/SaverManagement/

src/firstRoomSavePostionPlayer.txt

src/Scripts/ScriptsJMJ/CodeChestJMJ/CodeChestJMJ.cs

src/Scripts/ScriptsJMJ/CodeChestJMJ/CodeVerificationJMJ.cs
